body {font-family: Arial, sans-serif;
background-color:
#f0f0f0;
}
.container { 
    width: 350px; 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 0 10px;
    margin: 50px auto;
}   
form { 
    display: flex;
    flex-direction: column;
    align-items: start;
}    

label { 
    margin-bottom: 10px;
}
input [type="text"], input [type="password"] {
width: 100%; height: 20px; margin-bottom:
0.5spx;
padding: 10px;
border: 1px solid
#CCC;
border-radius: 2px;
}